*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

html{
    font-size: 62.5%;
}

#fondo{
background-color:rgb(209, 247, 255);
}

.h1 {
    font-size: 50px;
    color: #000;
}




.bordes{
    border: solid 2px rgb(131, 197, 213);
    background-color: rgb(253, 253, 253);
    color: rgb(62, 157, 176);
}

.oscuraletra{
    font-weight: bold;
} 
.letragaleria{
    font-size: 30px;
}
.justificartexto{
    text-align: justify;
}
.interlineado{
    line-height: 1.8;
}
.enlace{
    text-decoration:underline ;
}

/*margen*/
.margen{
    margin-left: 30px;
    margin-right: 30px;
}

.margen2{
    margin-left: 10px;
    margin-right: 10px;
}

.margentitulo{
    margin: 0;
}
.padding{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
}
.padding2{
    padding-top: 8px;
    padding-bottom: 8px;
}
.padding3{
    padding-left: 35vw;
}

nav{
    padding: 25px;
}



span{
    background-color: rgb(165, 181, 197);
    color: rgb(245, 244, 242);
    border: solid 2px;
    margin-left: 20px;
    padding: 9px 15px;   
    
}
.cursos{
    font-size: 20px;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0 ;
}

.menu{
    display: flex;
    list-style: none;
    gap: 40px;
    text-decoration: none;
    justify-content: space-evenly;
    
}
.menulink{
    text-decoration: underline;
    font-size: 1.8em;
    color: black;
    border: 2px solid;
    color: rgb(209, 247, 255);
    padding: 1.2rem;
    transition: all 3s;

}

.menulink:hover{
    border-color: rgb(61, 137, 137);
}

.ul{
    list-style-type: none;
}
.a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.header-titulo{
    display: flex;
    font-size: 50px;
    justify-content: center;
}

.flex-container{
    display: flex; 
}

.flex-fotos{
    display: inline;
    flex-direction: row;
    align-items: center;
    justify-content: end; 
    padding: 5px;
    margin: 7px;
    height: 500px;
    width: 350px;
    font-size: 11px;
}
.footer{
    display: flex;
    font-size: 17px;
    margin-bottom: 8px;
    margin-top: 20px;
    justify-content: center;
}

.main{
    font-size: 15px;
    height: auto;
    width: auto;
    line-height: 5rem;
}

.grid-container{
    display: -moz-grid-line;
    grid-template-columns: 1fr, 1fr;
}
.grid-item{
    grid-gap: 2rem;
    justify-content: center;
}
.grid-container2{
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr, 1fr;
}
.grid-footer{
    display: grid;
}

.img{
    display: flex;
    justify-content:center ;   

}